
.wp-list-table {

  .image,
  .image2,
  .images {

    img {
      max-width: 100%;
    }
  }

  .column-active,
  .column-special {
    width: 50px;
    text-align: center;
  }

  .column-images,
  .column-service {
    width: 100px;
    text-align: center;

    svg {
      @include size(24px);
      fill: currentColor;
    }
  }

}
