@keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


@keyframes sunBody {
  0% {
    transform: scale(.95) rotate(0);
  }

  50% {
    transform: scale(1) rotate(180deg);
  }

  100% {
    transform: scale(.95) rotate(360deg);
  }

}

@keyframes sunEyes {
  0% {
    transform: scale(.5) translateY(50px);
  }

  6% {
    transform: scale(1) translateY(-7px);
  }

  9% {
    transform: scale(1) translateY(0);
  }

  98% {
    transform: scale(1) translateY(0);
  }

  98.5% {
    transform: scale(1) translateY(0) rotateX(93deg);
  }

  100% {
    transform: scale(1) translateY(0) rotateX(0);
  }


}

@keyframes sunPop {
  0% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(0);
  }

}



@keyframes loadingSpin {
  0% {
    transform: scale(.8) rotate(0deg);
  }

  50% {
    transform: scale(1) rotate(180deg);
  }

  100% {
    transform: scale(.8) rotate(360deg);
  }

}
