
.menu-section {
  //@include test;
  border-bottom: 1px solid $yellow;

  >h1 {
    //@include test;
    @include fontsize(0);
    font-weight: $heavy;
    text-align: center;
    margin-bottom: 24px;
  }

  .menu {
    //@include test;
    //position: absolute;
    overflow: hidden;
    width: 100%;
  }


  .products {
    //@include test;
    width: 100%;
    white-space: nowrap;
    top: 44px;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2vh;
    margin-bottom: -3vh;
  }

  ul {
    //@include test;
    @include listreset();
    width: 100%;
    display: inline-block;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 20vw;
    width: max-content;
    padding-bottom: 2vh;
  }


  .item {
    //@include test;
    transition: opacity 200ms cubic-bezier(.666, 0, .333, 1);
    width: 40vw;
    max-width: 170px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
    white-space: normal;
    display: inline-block;
    flex: 0 0 auto;
    margin: 0 24px;
    opacity: .5;

    &:last-of-type {
      margin-right: 20vw;
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }

    &.special {
      //width: 100%;
      order: -1;
      opacity: 1;
    }

    .image {
      //@include test;
      width: 100%;
      position: relative;

      img {
        display: block;
      }
    }

    h1 {
      font-size: .85em;
      font-weight: $book;
      text-align: center;
      letter-spacing: .07em;

      small {
        color: $dark-blue;
        padding: .5em 1em;
        border: 2px solid $yellow;
        letter-spacing: .09em;
        margin: 0 auto 3px;
        display: table;
        font-size: .7em;
      }
    }



    .egg-loading {
      @include position(absolute, 0 0);
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        @include size(50%);
        fill: $dark-blue;
      }
    }
  } //Item

} // Menu Section



.full-item {
  @include test;
  position: relative;
  padding: 12px;
  display: none;


  .close-menu {
    @include size(44px);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: $red;
    z-index: 100;
    border-radius: 30px;
    padding: 12px;

    svg {
      @include size(100%);
    }
  }


  h1 {
    @include fontsize(0);
    display: block;
    text-align: center;
  }


}
