.social {
  padding: 12px;
  display: flex;

  @include break($max: 750px) {
    flex-direction: column;
  }
}














.social-follow {
  //@include test;
  padding: 48px;
  background: $orange;
  color: $white;
  display: inline-block;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include break($max: 750px) {
    padding: 24px 12px;
    padding-bottom: 132px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include break($max: 600px) {
    justify-content: start;
  }



  span {
    //@include test;

    @include break($max: 750px) {
      margin-left: 12px;
    }
  }

  a {
    //@include test;
    @include linkcolor($white, darken);
    display: inline-block;
    padding: 12px;
    background: shade($orange, 5%);

    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }

  h1 {
    //@include test;
    font-size: 2.7em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1em;
    font-family: $header;

    @include break($max: 450px) {
      font-size: 1.5em;
    }

  }

  .hashtag {
    //@include test;
    //font-size: 1.5em;
    margin: 6px 0 24px;
  }

  svg {
    //@include test;
    @include size(32px);
    display: block;
    fill: currentColor;

    @include break($max: 450px) {
      @include size(24px);
    }
  }

  .accounts {
    //@include test;
    margin-top: 24px;

    @include break($max: 750px) {
      margin-left: auto;
    }


    @include break($max: 600px) {
      width: 100%;
      margin-top: 12px;
      margin-left: 42px;
    }

    @include break($max: 450px) {
      margin-left: 32px;
    }
  }
}

















.social-posts {
  //@include test;
  //overflow: hidden;

  @include break($max: 750px) {
    margin-top: -118px;
  }

}





.social-stream {
  @include listreset;
  padding-left: 12px;
  display: inline-grid;
  grid-auto-flow: row dense;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;

  @include break($max: 450px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: inherit;
    grid-auto-flow: initial;
  }

  @include break($max: 750px) {
    padding-right: 12px;
    grid-gap: 6px;
  }

  a {
    @include linkcolor($black, lighten);
    text-decoration: none;
    object-fit: cover;
  }

  img {
    object-fit: cover;
    display: block;
  }

  svg {
    @include size(18px);
    position: absolute;
    bottom: 3px;
    right: 3px;
    fill: $white;
    box-shadow: 0 0 20px $black;
    background: rgba($black, .4);

    @include break($max: 750px) {
      @include size(12px);
    }
  }

  li {
    //@include test;
    position: relative;
    border: 1px solid rgba($light-blue, .2);
    overflow: hidden;
    background: $white;

    @include break($max: 450px) {
      &:nth-of-type(4),
      &:nth-of-type(5) {
        display: none;
      }
    }



    &:nth-of-type(3) {
      grid-row: span 2;
      grid-column: span 2;

      @include break($max: 450px) {
        grid-row: span 2;
        grid-column: span 2;
      }
    }

    &.social-twitter-large {
      //@include test;
      grid-column: span 4;
      font-size: .95em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include break($max: 450px) {
        grid-row: span 2;
        grid-column: span 2;
      }

      &.media {
        p {
          width: calc(100% - 24% - 24px);
          margin-left: 12px;
        }
      }

      p {
        margin-left: 12px;
        margin-right: 12px;
        display: block;
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 0;
        }
      }

      .img_wrap {
        width: 23%;
      }

      svg {
        fill: $twitter;
        box-shadow: 0 0 20px $white;
        background: rgba($white, .4);
      }
    }
  }
}
