.social {
  padding: 12px;
  display: flex;
}


.social-follow {
  //@include test;
  padding: 48px;
  background: $orange;
  color: $white;
  display: inline-block;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    @include linkcolor($white, darken);
    display: inline-block;
    margin-right: 12px;

    &:nth-of-type(2) {
      margin-right: 24px;
    }
  }

  h1 {
    font-size: 2em;
    margin: 24px 0 0;
    text-transform: uppercase;
    letter-spacing: .15em;
    line-height: 1em;
  }

  .hashtag {
    //font-size: 1.5em;
    margin: 6px 0 24px;
  }

  svg {
    @include size(32px);
    display: block;
    fill: currentColor;
  }

  .accounts {
    margin-top: 24px;

    span {
      display: block;
    }
  }
}



.social-posts {
  //@include test;
  //overflow: hidden;
}





.social-stream {
  @include listreset;
  padding-left: 12px;
  display: inline-grid;
  grid-auto-flow: row dense;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;

  a {
    @include linkcolor($black, lighten);
    text-decoration: none;
    object-fit: cover;
  }

  img {
    object-fit: cover;
    display: block;
  }

  svg {
    @include size(18px);
    position: absolute;
    bottom: 3px;
    right: 3px;
    fill: $white;
  }

  li {
    //@include test;
    position: relative;
    border: 1px solid rgba($light-blue, .2);



    &:nth-of-type(3) {
      grid-row: span 2;
      grid-column: span 2;
    }

    &.social-twitter-large {
      //@include test;
      grid-column: span 4;
      font-size: .95em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &.media {
        p {
          width: calc(100% - 24% - 24px);
          margin-left: 12px;
        }
      }

      p {
        margin-left: 12px;
        margin-right: 12px;
        display: block;
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 0;
        }
      }

      .img_wrap {
        width: 23%;
      }

      svg {
        fill: $twitter;
      }
    }
  }
}
