
.social-follow {
  //@include test;
  padding: 48px 5vw;
  background: $orange;
  color: $white;
  display: inline-block;

  a {
    @include linkcolor($white, darken);
    display: inline-block;
    margin-right: 12px;

    &:nth-of-type(2) {
      margin-right: 24px;
    }
  }

  h1 {
    font-size: 2em;
    margin: 10vh 0 0;
    text-transform: uppercase;
    letter-spacing: .15em;
  }

  .hashtag {
    //font-size: 1.5em;
    margin: 6px 0 10vh;
  }

  svg {
    @include size(32px);
    display: block;
    fill: currentColor;
  }

  .accounts {

    span {
      display: block;
    }
  }
}



// scss-lint:disable all
.social-stream {
  @include listreset;
  background: $dark-blue;
  //padding: 10px;
  display: inline-grid;
  grid-auto-flow: row dense;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 12px;




  a {
    @include linkcolor($black, lighten);
    text-decoration: none;
    font-weight: $book;
  }

  p {
    font-weight: $semi;
  }


// scss-lint:enable all
  li {
    //@include test;
    background: $white;
    border: 1px solid $yellow;
    border-top-width: 2px;
    display: inline-block;
    //padding: 12px;
    //width: calc(100%/3 - 15px);
    //margin-bottom: 10px;



    &.social-twitter {
      border-top-color: $twitter;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-column: span 2;

      .img_wrap {
        width: 30%;
      }

      p {
        width: calc(100% - 30% - 12px);
      }

      svg {
        fill: $twitter;
      }

      .user-info img {
        border-radius: 100%;
      }
    }

    &.social-instagram {
      border-top-color: $instagram;

      @include break($max: 700px) {
        &:nth-of-type(3) {
          display: block !important;
        }
      }


      svg {
        fill: $instagram;
      }

      .user-info img {
        border-radius: 100%;
      }
    }
  }

  .img_wrap {
    position: relative;
    display: block;

    svg {
      @include alignment(absolute, center);
      @include size(50%);
      fill: $white;
    }
  }

  .media {
    width: 100%;
    display: block;
  }

  .network {
    margin-left: auto;

    svg {
      @include size(24px);
    }
  }

  .user-info {
    display: flex;
    padding-top: 6px;
    font-size: .8em;
    width: 100%;

    img {
      @include size(32px);
      flex: 0 0 auto;
    }

    span {
      padding: 0 12px;
    }

    strong,
    small {
      display: block;
    }
  }

}

.tweet-quote {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: start;
  border: 1px solid $yellow;
  padding: 12px;
  font-size: .8em;
  margin: 6px;
  opacity: .8;
  margin-top: 12px;

  .quote-user {
    font-weight: $semi;
  }

  .image {
    order: 0;
    flex: 1 1 250px;
    align-self: auto;
    margin-right: 12px;
  }

  span {
    flex: 1 1 auto;
    order: 0;
    flex: 3 1 auto;
    align-self: auto;
  }
}

.discover-more {
  //@include test;
  text-align: center;
  margin-top: calc(-100px - 5vh);
  position: relative;
  z-index: 100;
  background: linear-gradient(to top, rgba($white, 1) 1%, rgba($white, 1) 50%, rgba($white, 0) 100%);

  a {
    @include linkcolor($white);
    text-decoration: none;
    display: block;
    background: $red;
    padding: 24px;
    border-radius: 5px;
  }

}
