
.about {
  //@include test;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh auto 1vh;

  .chef {
    //@include test;
    width: 40%;
    order: 2;
    position: relative;
    left: -50px;
  }

  .bio {
    //@include test;
    width: 40%;
    z-index: 10;
    position: relative;
    right: -50px;

  }



  h1 {
    @include fontsize(3);
    font-family: $header;
    color: $orange;
    text-transform: uppercase;
    font-weight: $heavy;
    line-height: 1em;
    white-space: nowrap;
    margin: 0;

    svg {
      @include size(.9em);
      margin-right: -.08em;
      fill: currentColor;
    }
  }

  p {
    margin-right: 100px;
    line-height: 1.4em;
    color: $text;
  }

  img {
    display: block;
    height: auto;
  }



}













