
.about {
  //@include test;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh auto 1vh;

  @include break($max: 600px) {
    flex-direction: column;
    padding: 0 24px;
  }

  .chef {
    //@include test;
    width: 40%;
    order: 2;
    position: relative;
    left: -50px;

    @include break($max: 700px) {
      width: 70%;
      left: -30px;
    }

    @include break($max: 600px) {
      width: 80%;
      left: 0;
    }

    @include break($max: 400px) {
      width: 100%;
      left: 0;
    }

    &::after {
      //@include test;
      @include pattern($orange);
      @include position(absolute, 25px -45px -25px 45px);
      background-size: 324px auto;
      content: '';
      z-index: 0;
      border: 1px solid tint($black, 95%);

      @include break($max: 400px) {
        @include position(absolute, -45px -45px -25px -45px);
      }
    }
  }

  .bio {
    //@include test;
    width: 40%;
    z-index: 10;
    position: relative;
    right: -50px;

    @include break($max: 900px) {
      width: 55%;
    }

    @include break($max: 700px) {
      width: 70%;
      left: 24px;
    }

    @include break($max: 600px) {
      width: 100%;
      left: 0;
    }
  }



  h1 {
    @include fontsize(3);
    font-family: $header;
    color: $orange;
    text-transform: uppercase;
    font-weight: $heavy;
    line-height: 1em;
    white-space: nowrap;
    margin: 0;

    @include break($max: 600px) {
      @include fontsize(2);
    }

    @include break($max: 450px) {
      line-height: 1.2em;
      text-align: center;
    }

    svg {
      @include size(.8em);
      margin-left: -.08em;
      margin-right: -.08em;
      fill: currentColor;
    }
  }

  p {
    margin-right: 120px;
    line-height: 1.4em;
    color: $text;

    @include break($max: 600px) {
      margin-right: 0;
    }
  }

  img {
    display: block;
    height: auto;
    z-index: 1;
    position: relative;
  }



}
