
.cater-schedule {
  @include test;
  border: 1px solid $yellow;
  position: relative;
  display: block;
  margin: 0;
  background: $white;
  align-items: center;
  padding: 24px 12px;
  position: relative;
  //padding-right: calc(44px + 12px + 12px);
  display: flex;


  @include break($min: 750px) {
    //padding-right: calc(44px + 12px + 12px + 100px);
  }


  h2 {
    //@include test;
    font-family: $header;
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    font-weight: $extra;
    text-align: center;
    text-transform: uppercase;
    color: $orange;
    padding: 1.5em .5em;
    line-height: 1.1em;
    border-radius: 100%;

    span {
      display: block;
      font-size: 1.4em;
      letter-spacing: .03em;
    }

    svg {
      //@include test;
      @include alignment(absolute, center);
      @include size(150%);
    }

  }

  .controls {
    //@include test;
    position: static !important;
    right: 12px;
    bottom: 24px;

    a {
      //@include test;
      @include size(44px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid currentColor;
      font-size: .8em;

      @include break($min: 750px) {
        width: auto;
        padding: 0 12px;
        background: none;
      }
    }
  }

}
