
.catering {
  @include test;
  @include pattern($yellow);
  background-size: 324px auto;
  max-width: 800px;
  margin: 10vh auto;
  text-align: center;
  position: relative;



  &::after {
    @include test;
    //content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 10px;
    bottom: -50px;
    z-index: 1;
  }


  h1 {
    @include fontsize(2);
    font-family: $header;
    color: $orange;
    text-transform: uppercase;
    font-weight: $heavy;
    line-height: 1em;
    white-space: nowrap;
    margin: 0;
  }
}

.cater-header {
  @include test;
  line-height: 1.4em;
  color: $text;
  position: relative;
  z-index: 10;
}


.testimonial-column {
  @include test;
  padding: 24px;
  text-align: left;
  margin: 24px;
  line-height: 1.4em;
  color: $text;
  position: relative;
  z-index: 10;

  span {
    text-align: right;
    display: block;
    font-size: .9em;
  }
}
