
.footer-gallery {
  //@include test;
  display: inline-grid;
  grid-auto-flow: row dense;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  margin: 48px 12px;
  position: relative;

  &::after {
    //@include test;
    @include pattern($white);
    @include position(absolute, 0 0);
    background-size: 1324px auto;
    content: '';
    z-index: 0;
  }


  .image {
    //@include test;

   &:nth-of-type(1) {
      position: relative;
      right: 2em;
      top: 1em;
    }


    &:nth-of-type(2) {
      position: relative;
      right: -2em;
    }


    &:nth-of-type(4) {
      position: relative;
      left: -2em;
    }

    &:nth-of-type(3) {
      grid-row: span 2;
      grid-column: span 2;
      position: relative;
      top: -2em;
    }
  }

  img {
    display: block;
  }
}
