
.site-footer {
  @include pattern(shade($orange, 10%));
  background-color: $orange;
  text-align: left;
  padding: 5vh 24px;
  color: $black;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include break($max: 600px) {
    flex-direction: column;
    text-align: center;
  }


  small {
    display: block;
  }

  small + small {
    margin-top: 12px;
  }

  a {
    @include linkcolor($black, lighten);
  }


  .efo {
    //@include test;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: flex-end;
    color: $black;

    @include break($max: 600px) {
      margin-top: 5vh;
    }

    span {
      position: relative;
      top: 18px;
    }

    svg {
      //@include test;
      height: 70px;
    }
  }
}




.footer-gallery {
  //@include test;
  display: none;
  grid-auto-flow: row dense;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
  margin: 0;
  position: relative;
  //background: $black;

  @supports (display: grid) {
    display: inline-grid;
  }




  @include break($max: 450px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: inherit;
    grid-auto-flow: initial;
  }

  &::after {
    //@include test;
    @include pattern($white);
    @include position(absolute, 0 0);
    background-size: 1000px auto;
    content: '';
    z-index: 2;
  }


  &::before {
    //@include test;
    @include pattern($white);
    @include position(absolute, 0 0);
    background-size: 4000px auto;
    background-position: 10% 50%;
    content: '';
    z-index: 1;
  }


  .image {
    //@include test;
    position: relative;

    @include break($max: 450px) {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(6) {
        display: none;
      }
    }

    @include break($min: 450px) {
      &:nth-of-type(3) {
        grid-row: span 2;
        grid-column: span 2;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }
    }



  }

  img {
    display: block;
    object-fit: cover;
  }
}
