

.press {
  //@include test;
  font-size: .9em;
  max-width: 700px;
  margin: 5vh 0 10vh auto;
  color: tint($text, 50%);
  margin-right: 70px;


  a {
    @include linkcolor($orange, darken);
    display: block;
    font-size: 1.2em;
  }

  ul {
    //@include test;
    @include listreset;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    li {
      //@include test;
      padding: 0;
      width: 30%;
      margin: 1.3%;

      svg {
        @include size(.5em);
        display: inline-block;
        vertical-align: middle;
        fill: currentColor;
      }

    } // li


  }


}



.lmore {
  @extend %pill;
  @extend %blue-pill;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  margin: 24px auto;
}



