

.schedule {
  //@include test;
  padding: 24px 12px;
  background: $yellow;

  h1 {
    @include fontsize(1);
    line-height: 1;
    margin: 0;
    margin-top: 12px;
    text-align: center;
    color: $white;
  }

  small {
    font-size: .6em;
    margin-bottom: 12px;
    text-align: center;
    display: block;
    letter-spacing: .08em;
    color: $white;
  }

  dl {
    //@include test;
    @include listreset;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  dt {
    //@include test;
    font-size: .8em;
    display: inline-block;
    font-weight: $book;
    position: relative;
    white-space: nowrap;
    margin-left: 12px;
    padding: 6px;
    background: $light-blue;
    color: $white;
    letter-spacing: .08em;
    bottom: -12px;
    z-index: 10;
  }

  dd {
    //@include test;
    display: block;
    margin: 0;
    //display: flex;
    //justify-content: space-between;
    background: $white;
    align-items: center;
    padding: 24px 12px;
    border: 1px solid $light-blue;
    position: relative;
    padding-right: calc(44px + 12px + 12px);
  }

  .sameday {
    border-top: 0;
  }

  .time {
    font-size: .8em;
    margin-right: 12px;
    flex: 0 0 auto;
    width: 100%;

    // span {
    //   display: block;
    //   font-size: .8em;
    //   text-align: center;
    //   letter-spacing: .08em;
    // }
  }

  .content {
    //@include test;
    margin-right: 12px;
  }

  svg {
    @include size(18px);
    fill: currentColor;
  }


  .no-schedule {
    text-align: center;
    color: $white;
    max-width: 200px;
    margin: 5vh auto;
  }


  .controls {
    //@include test;
    position: absolute;
    right: 12px;
    bottom: 24px;

    a {
      //@include test;
      @include size(44px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid currentColor;
      font-size: .8em;

      @include break($min: 750px) {
        width: auto;
        padding: 0 12px;
        background: none;
      }
    }


    svg {
      //@include test;
      display: block;

      @include break($min: 750px) {
        margin-right: 12px;
      }
    }

    span {
      display: none;

      @include break($min: 750px) {
        display: inline-block;
      }
    }
  }
}
