

.schedule {
  @include test;
  padding: 0 6px;

  dl {
    //@include test;
    @include listreset;
  }

  dt {
    //@include test;
    font-size: .8em;
    display: inline-block;
    font-family: $header;
    font-weight: $book;
    position: relative;
    white-space: nowrap;
    margin-left: 12px;
    padding: 6px;
    background: $light-blue;
    color: $white;
    letter-spacing: .08em;
    bottom: -12px;
  }

  dd {
    //@include test;
    display: block;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px;
    border: 1px solid $light-blue;
  }

  .time {
    font-size: .8em;
    margin-right: 12px;
    flex: 0 0 auto;

    span {
      display: block;
      font-size: .8em;
      text-align: center;
      letter-spacing: .08em;
    }
  }

  .content {
    //@include test;
    margin-right: 12px;
  }

  svg {
    @include size(18px);
    fill: currentColor;
  }


  .controls {
    @include test;

    a {
      //@include test;
      @include size(44px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid currentColor;
    }

    svg {
      //@include test;
      display: block;
    }

    span {
      display: none;
    }
  }
}


