

.schedule {
  //@include test;
  padding: 24px 8%;
  //background: $yellow;
  max-width: 900px;
  margin: 5vh auto 10vh;
  position: relative;
  z-index: 10;
  padding-bottom: 50px;
  position: relative;

  @include break($max: 750px) {
    padding: 24px 12px;
  }




  &::after {
    //@include test;
    @include pattern($orange);
    background-size: 324px auto;
    background-position: bottom center;
    content: '';
    z-index: 0;
    position: absolute;
    right: 1px;
    //top: calc(5em + 1px);
    bottom: 1px;
    height: 170px;
    width: 600px;
    background-color: $white;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    //@include test;
    @include pattern(tint($black, 90%));
    background-size: 324px auto;
    background-position: bottom center;
    content: '';
    z-index: 0;
    position: absolute;
    top: 5em;
    bottom: 0;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid tint($black, 95%);
  }

  .schedule-header {
    //@include test;
    display: block;
    position: relative;
    z-index: 100;
    text-align: left;
    color: $orange;
    max-width: 700px;
    margin: 0 auto;

    @include break($max: 450px) {
      text-align: center;
    }
  }

  h1 {
    @include fontsize(3);
    line-height: 1;
    margin: 0;
    margin-top: 12px;
    font-weight: $semi;
    font-family: $header;

    @include break($max: 600px) {
      @include fontsize(2);
    }

    @include break($max: 450px) {
      line-height: 1.2em;
    }
  }

  small {
    font-size: .7em;
    margin-bottom: 12px;
    display: block;
    letter-spacing: .08em;
  }

  dl {
    //@include test;
    @include listreset;
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 12px;
    max-width: 700px;
  }

  dt {
    //@include test;
    font-size: .8em;
    display: inline-block;
    font-weight: $semi;
    position: relative;
    white-space: nowrap;
    margin-left: 12px;
    padding: 6px;
    background: $light-blue;
    color: $white;
    letter-spacing: .08em;
    bottom: -12px;
    z-index: 11;
  }

  dd {
    //@include test;
    display: block;
    margin: 0;
    //display: flex;
    //justify-content: space-between;
    background: $white;
    align-items: center;
    padding: 24px 12px;
    border: 1px solid $light-blue;
    position: relative;
    padding-right: calc(44px + 12px + 12px);
    z-index: 10;

    @include break($min: 750px) {
      padding-right: calc(44px + 12px + 12px + 100px);
    }

  }

  .sameday {
    border-top: 0;
  }

  .time {
    font-size: .8em;
    margin-right: 12px;
    flex: 0 0 auto;
    width: 100%;
  }

  .content {
    //@include test;
    margin-right: 12px;
  }

  svg {
    @include size(18px);
    fill: currentColor;
  }


  .no-schedule {
    text-align: center;
    color: $black;
    margin: 5vh auto;
    position: relative;
    z-index: 100;
    border: 0;

    .content-last {
      opacity: .5;
    }
  }


  .controls {
    //@include test;
    position: absolute;
    right: 12px;
    bottom: 24px;

    a {
      //@include test;
      @include size(44px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid currentColor;
      font-size: .8em;

      @include break($min: 750px) {
        width: auto;
        padding: 0 12px;
        background: none;
      }
    }


    svg {
      //@include test;
      display: block;

      @include break($min: 750px) {
        margin-right: 12px;
      }
    }

    span {
      display: none;

      @include break($min: 750px) {
        display: inline-block;
      }
    }
  }
}
